* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ol,
  ul {
    list-style: none;
  }


 

  /* laptop view */
  @media (min-width: 480px) {
    body{
        background-image: url(./Assets/henry-be-lc7xcWebECc-unsplash.jpg);
        background-position: center;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        /* z-index: 0; */
       }
  }

  
  /* mobile view */
  @media (max-width: 479px) {
    body{
      display: flex;
    flex-direction: column;
        
        background-image: url(./Assets/henry-be-lc7xcWebECc-unsplash.jpg);
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        /* z-index: 0; */
       }
  }

