@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

* {
  /* all:unset; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
}

ol,
ul {
  list-style: none;
}

a.logo {
  font-family: "Gloria Hallelujah", cursive;
}

/* html{
  all:unset
} */

/* laptop view */
@media (min-width: 480px) {
  body {
    background-image: url("./Assets/4907599.jpg");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgba(239, 130, 84, 0.899);
    /* z-index: 0; */
  }
}

/* mobile view */
@media (max-width: 479px) {
  body {
    display: flex;
    flex-direction: column;
    background-image: url("./Assets/4907599.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: rgba(239, 130, 84, 0.899);
    /* z-index: 0; */
  }
}
