* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }
  
  ol,
  ul {
    list-style: none;
  }


  body{
   background-image: black url(./Assets/henry-be-lc7xcWebECc-unsplash.jpg);
  }