.main-body {
  width: 100vw;
  min-height: 70vh;
  background: #2d3142;
  padding: 3vw;
}

/* ==============================================
-  media queries to control number of slides 
============================================== */

.carousel {
  margin: 20px;
}

.carousel-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  color: rgba(239, 130, 84, 0.899);
  padding: 1.5rem;
  margin: 0;
}

.swiper-wrapper {
  padding: 1.5rem;
}

.swiper-container {
  width: 95%;
  height: 100%;
}

.swiper-slide {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
  
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
  
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
  
  height: 300px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  color: black;
  border-radius: 5px;
  padding-left: 10rem;
  padding-right: 10rem;
   /* background: rgb(255, 251, 251); */
}

.library-cover, .wishlist-cover, .swaplist-cover, .friend1-list-cover, .friend2-list-cover {
    height: 100%;
}


.library-cover:hover, .wishlist-cover:hover, .swaplist-cover:hover, .friend1-list-hover, .friend2-list-hover {
    transform: scale(1.2);
}
