@media (min-width: 950px) {
.page-footer{
        background: rgba(239, 130, 84, 0.899);;

        width: 100vw;
        height: 10vh;
       
        }
}

@media (max-width: 949px) {
        .page-footer{
                background: rgba(239, 130, 84, 0.899);;
                width: 100vw;
                height: 10vh;
             
                }
}
