@media (min-width: 950px) {
.page-footer{
        background: transparent;
        width: 100vw;
        height: 20vh;
       
        }
}

@media (max-width: 949px) {
        .page-footer{
                background: transparent;
                width: 100vw;
                height: 20vh;
             
                }
}
