
/* ==============================================
- Search Area
============================================== */
/* laptop view */
@media (min-width: 950px) {
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100vw;
  height: 60vh;
  margin-top: 10rem;
  }
}


/* small-laptop / tablet view */
@media (max-width: 949px) and (min-width: 480px) {
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100vw;
  height: 40vh;
  margin-top: 10rem;
  }
}


/* mobile view */
@media (max-width: 479px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100vw;
    height: 30vh;
    margin-top: 6rem;
    }

}




/* ==============================================
- Search Area
============================================== */

@media (min-width: 950px) {
  .search-area {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .input {
    width: 40vw;
  }
  .result-search{
    display: none;
  }
}

/* small-laptop / tablet view / mobile view */
@media (max-width: 949px) {
  .search-area {
    display: none;
  }

  .input {
    width:75vw;
  }

  .slidebar-seach{

  margin: 1rem;

}
}



.searchOps{
  padding: 1rem;
}

@media (min-width: 950px) {
.fa-search{
  font-size: 2rem;
}
}
@media (max-width: 949px) {
  .fa-search{
    font-size: 1.0rem;
  }
  }