/* @media (min-width: 950px) { */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100vw;
  height: 60vh;
  margin-top: 10rem;
}
/* } */

/* ==============================================
- Search Area
============================================== */

@media (min-width: 950px) {
  .search-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input {
    width: 40vw;
  }
  .result-search{
    display: none;
  }
}

/* small-laptop / tablet view / mobile view */
@media (max-width: 949px) {
  .search-area {
    display: none;
  }

  .input {
    width: 70vw;
  }
}
