/* laptop view */

@media (min-width: 950px) {
  .fixed-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  rgba(239, 130, 84, 0.899);
    width: 100vw;
    min-height: 5vh;
    /* box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.322); */
    height: auto;
    background: #1f222e;
    position: fixed;
    top: 0;
    z-index: 3;
  }
}

/* small-laptop / tablet view */

@media (max-width: 949px) and (min-width: 480px) {
  .fixed-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 5vh;
    background: #2d3142;
    position: fixed;
    top: 0;
    z-index: 3;
  }
}

/* mobile view */

@media (max-width: 479px) {
  .fixed-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 12vh;
    background: #2D3142;
    position: fixed;
    top: 0;
    z-index: 3;
    color:  rgba(239, 130, 84, 0.899);
  }
}

/* ==============================================
- LOGO
============================================== */

/* laptop view */

@media (min-width: 950px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.0rem;
    font-size: 3rem;
  }
}

/* small-laptop / tablet view */

@media (max-width: 949px) and (min-width: 480px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    font-size: 2.5rem;
  }
}

/* mobile view */

@media (max-width: 479px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    font-size: 2.5rem;
  }
}

/* ==============================================
- Options menu
============================================== */

/* laptop view */

@media (min-width: 950px) {
  .navbar-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 65%;
    padding: 3.5rem;
    color:  rgba(239, 130, 84, 0.899);
    margin: 0;
  }
}

@media (min-width: 950px) {
  /* li {
    margin: 0;
  } */
}

/* below code does not seem to work */
/* li::before,
li::after {
  color: rgb(255, 255, 255);
} */

@media (min-width: 950px) {
  .navbar-options > h3 {
    margin: 0;
  }
}

/* small-laptop / tablet view / mobile view */

@media (max-width: 949px) {
  .navbar-options {
    /* visibility: hidden; */
    display: none;
  }
}


/* ==============================================
- Header Menu
============================================== */

.menuItem {
  font-size: 2rem;
}





