/* laptop view */

@media (min-width: 950px) {
  .fixed-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100vw;
    min-height: 10vh;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.322);
    height: auto;
    background: #2d314270;
    position: fixed;
    top: 0;
    z-index: 5;
  }
}

/* small-laptop / tablet view */

@media (max-width: 949px) and (min-width: 480px) {
  .fixed-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 10vh;
    background: #2d31425b;
    position: fixed;
    top: 0;
    z-index: 2;
  }
}

/* mobile view */

@media (max-width: 479px) {
  .fixed-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background: #2D3142;
    position: fixed;
    top: 0;
    z-index: 2;
  }
}

/* ==============================================
- LOGO
============================================== */

/* laptop view */

@media (min-width: 950px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
    font-size: 3rem;
  }
}

/* small-laptop / tablet view */

@media (max-width: 949px) and (min-width: 480px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    font-size: 2.5rem;
  }
}

/* mobile view */

@media (max-width: 479px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    font-size: 2.5rem;
  }
}

/* ==============================================
- Options menu
============================================== */

/* laptop view */

@media (min-width: 950px) {
  .navbar-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 65%;
    padding: 3.5rem;
    font-size: 2rem;
    margin: 0;
  }
}

@media (min-width: 950px) {
  li {
    margin: 0;
  }
}

/* below code does not seem to work */

li::before, li::after {
  color: rgb(255, 255, 255);
}

@media (min-width: 950px) {
  .navbar-options>h3 {
    margin: 0;
  }
}

/* small-laptop / tablet view / mobile view */

@media (max-width: 949px) {
  .navbar-options {
    /* visibility: hidden; */
    display: none;
  }
}

/* ==============================================
-Burger Bar
============================================== */

@media (min-width: 950px) {
  .burger {
    display: none;
  }
}

@media (max-width: 949px) {
  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
}

/* ==============================================
-Burger Size
============================================== */

/* small-laptop / tablet view */

@media (max-width: 949px) and (min-width: 480px) {
  .fa-bars {
    font-size: 4rem;
    color: aliceblue;
  }
}

/* mobile view */

@media (max-width: 479px) {
  .fa-bars {
    font-size: 3rem;
    color: aliceblue;
  }
}