.results {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100vw;
    height: 60vh;
    color: white;
}


.results-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 2rem;
  /* margin-bottom: 2rem; */
}

.black {
    color: black;
}

.center {
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.bookHeader{
  font-size: 10wv;
}

/* laptop view */
@media (min-width: 950px) {
  .search-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input {
    width: 40vw;
  }
}


/* small-laptop / tablet view */
@media (max-width: 949px) and (min-width: 480px) {
  .search-area {
    display: none;
  }
  .bookImg {
    width: 80%;
  }
}


/* mobile view */
@media (max-width: 479px) {
  .search-area {
    display: none;
  }
  .bookHeader {
    font-size: 3vw;
  }
  .bookCategory {
    font-size: 3vw;
  }
  .bookDescription {
    font-size: 3vw;
  }
  .bookRating {
    font-size: 3vw;
  } 
  .bookImg {
    width: 120%;
  }
}

/* ==============================================
-  results page buttons
============================================== */

  .wishlistButton {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: rgba(239, 130, 84);
    z-index: 1;
  }