
/* ==============================================
shift boday to the left 
============================================== */

@media (max-width: 949px) { 
.mainBody {
  z-index: 2;
  position: relative;
  /* height: 100%; */
  background-color: transparent;
  /* -webkit-transition: transform .7s ease-in-out; */
  transition: transform 1s ease-in-out;
}

}

/* ==============================================
- hidden Slideout sidebar  container
============================================== */

/* @media (min-width: 949px) { 
  .side-hidden {
    display: none;
  }
} */

@media (max-width: 949px) { 
  .side-hidden {
    transition: all 1.0s 0.5s ease-in;
   display: hidden;
   /* height: 10px; */
  }
}

/* @media (min-width: 949px) { 
  .side-visible {
  display: none;
  }
} */


@media (max-width: 949px) { 
.side-visible {
  height: 100%;
  width: 75%;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  background-color: rgba(239, 130, 84, 0.899);
  transition: all 1.0s 0.5s ease-in;
  /* background-color: #ef8254; */
}
}

/* ==============================================
- move body left
============================================== */

.move-to-left {
  /* -webkit-transform: translateX(-400px); */
  transform: translateX(-75%);
}


/* ==============================================
- hamburger bars and burger button
============================================== */


@media (max-width: 949px) { 
.bar {
  display: block;
  height: 5px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  margin: 10px auto;
}
}


.burgerBtn {
  cursor: pointer;
  display: inline-block;
  /* position: absolute; */
  margin-top: 10px;
  width: auto;
  margin: 0 auto;
  /* -webkit-transition: all .7s ease; */
  transition: all 1.0s ease;
}





/* ==============================================
- burger button postion
============================================== */
.nav-right {
  position: fixed;
  right: 40px;
  top: 20px;
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
}

/* ==============================================
- burger button transitions to X when avtive
============================================== */

.bar {
  /* -webkit-transition: all .7s ease; */
  
  transition: all 1.0s ease;
}

.nav-right.visible-xs .active .bar {
  /* background-color: rgb(255, 255, 255); */
  
  transition: all 1.0s ease;
}

.burgerBtn.active .top {
  /* -webkit-transform: translateY(15px) rotateZ(45deg); */
 
  transform: translateY(15px) rotateZ(45deg);
}

.burgerBtn.active .bottom {
  /* -webkit-transform: translateY(-15px) rotateZ(-45deg); */
  
  transform: translateY(-15px) rotateZ(-45deg);
}

.burgerBtn.active .middle {
  width: 0;
}


/* ==============================================
- menu options positioning and settings
============================================== */

/* nav {
  padding-top: 30px;
} */

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 150px;
  text-align: center;
}

/* ==============================================
- slide down animation feature for the menue items
============================================== */

.sidebar-item {
  margin: 5rem 0;
  opacity: 0;
  /* -webkit-transform: translateY(-20px); */
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  /* -webkit-transition: all .7s .2s ease-in-out; */
  transition: all 1.0s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  /* -webkit-transition: all .7s .4s ease-in-out; */
  transition: all 1.0s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  /* -webkit-transition: all .7s .6s ease-in-out; */
  transition: all 1.0s .6s ease-in-out;
}

.sidebar-item:last-child {
  /* -webkit-transition: all .7s .8s ease-in-out; */
  transition: all 1.0s .6s ease-in-out;
}



/* ==============================================
- Sidebar animation for list items on menu
============================================== */

@media (max-width: 949px) { 

  .sidebar-item.active {
  opacity: 1;
  /* -webkit-transform: translateY(0px); */
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #FFF;
  /* text-decoration: none; */
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

/* underline anitmation feature */
.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  /* -webkit-transition: all .7s ease-in-out; */
  transition: all 1.0s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

}


/* ==============================================
- X loction on smaller formats
============================================== */

/* @media (min-width: 480px) { */
  .nav-list {
    display: block;
  }
/* } */

