/* ==============================================
- Slide out bar
============================================== */

/* small-laptop / tablet view */
/* the slide out background */
@media (min-width: 950px) {
    .slideout-sidebar {
      display: none;
    }
  
    .nav-right {
      position: fixed;
      right: 40px;
      top: 20px;
    }
  
    .nav-right.visible-xs {
      z-index: 6;
    }
  
    .hidden-xs {
      display: none;
    }
  }



@media (max-width: 949px) {
  .slideout-sidebar {
    height: 100%;
    width: 70vw;
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0;
    background-color: #000000;
    display: none;
  }

  .nav-right {
    position: fixed;
    right: 40px;
    top: 20px;
  }

  .nav-right.visible-xs {
    z-index: 6;
  }

  .hidden-xs {
    display: none;
  }
}

/* ==============================================
- hamburger
============================================== */
.burgerBtn {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}


/* ==============================================
- hamburger
============================================== */



/* ==============================================
- hamburger slide out feature
============================================== */
@media (min-width: 950px) {
.bar{
    display: none;
}

.nav-right.visible-xs .active .bar {
    display: none;
}

.move-to-left {
    display: none;
}

}


@media (max-width: 949px) {
.bar {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
} 
/* may need to delete above */

.nav-right.visible-xs .active .bar {
  background-color: #fff;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* pulls slider to the left - activated by function */
.move-to-left {
  -webkit-transform: translateX(-400px);
  -moz-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
  -o-transform: translateX(-400px);
  transform: translateX(-400px);
}

}

/* ==============================================
- hamburger transition to cross
============================================== */

@media (max-width: 949px) {

.button.active .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(15px) rotateZ(45deg);
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle {
  width: 0;
}
}

/* ==============================================
- hamburger transitions
============================================== */


nav {
    padding-top: 30px;
  }
  
  .sidebar-list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    margin-top: 150px;
    text-align: center;
  }
  

/* ==============================================
- slide down animation feature for the menue items
============================================== */

  .sidebar-item {
    margin: 30px 0;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  
  .sidebar-item:first-child {
    -webkit-transition: all .7s .2s ease-in-out;
    -moz-transition: all .7s .2s ease-in-out;
    -ms-transition: all .7s .2s ease-in-out;
    -o-transition: all .7s .2s ease-in-out;
    transition: all .7s .2s ease-in-out;
  }
  
  .sidebar-item:nth-child(2) {
    -webkit-transition: all .7s .4s ease-in-out;
    -moz-transition: all .7s .4s ease-in-out;
    -ms-transition: all .7s .4s ease-in-out;
    -o-transition: all .7s .4s ease-in-out;
    transition: all .7s .4s ease-in-out;
  }
  
  .sidebar-item:nth-child(3) {
    -webkit-transition: all .7s .6s ease-in-out;
    -moz-transition: all .7s .6s ease-in-out;
    -ms-transition: all .7s .6s ease-in-out;
    -o-transition: all .7s .6s ease-in-out;
    transition: all .7s .6s ease-in-out;
  }
  
  .sidebar-item:last-child {
    -webkit-transition: all .7s .8s ease-in-out;
    -moz-transition: all .7s .8s ease-in-out;
    -ms-transition: all .7s .8s ease-in-out;
    -o-transition: all .7s .8s ease-in-out;
    transition: all .7s .6s ease-in-out;
  }


  /* ==============================================
- hamburger transitions
============================================== */
  
  .sidebar-item.active {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  
/* ==============================================
- Sidebar menue options
============================================== */
  .sidebar-anchor {
    color: #FFF;
    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 7px;
  }
  
  .sidebar-anchor:before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
  }
  
  .sidebar-anchor:hover:before {
    width: 100%;
  }
  
/* ==============================================
- 
============================================== */
  
  
  @media (max-width: 954px) {
    .nav-list {
      display: block;
    }
  }
  
  @media (min-width: 954px) {
    .nav-right {
      position: absolute;
    }
    .hidden-xs {
      display: block;
    }
    .visible-xs {
      display: none;
    }
  }